<%- include('../includes/header.ejs') %>
  <%- include('../includes/navbarSheets.ejs') %>
    <%- include('../includes/accessSheets.ejs') %>
      <link rel="stylesheet" href="/css/main.css" />
      <link rel="stylesheet" href="/css/product.css" />
    <link rel="icon" href="images/cart_logo.png" />
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <%- include('../includes/profileModal.ejs') %>
    <%- include('../includes/constructionBody.ejs') %>
</body>

</html>